<%- include('./header') %>
<!--	End Slider	-->
<!--	Feature Product	-->
<!--	End Feature Product	-->
<!--	Latest Product	-->

<div id="my-cart">
    <% if(success != null){ %>
    <% success.forEach(element => { %>
    <div class="alert alert-success"><%= element %> </div>
    <%   }); %>
    <%  %>
    <% } %>
    <div class="row">
        <div class="cart-nav-item col-lg-3 col-md-3 col-sm-12" style="color: #2980b9">Thông tin sản
            phẩm</div>
        <div class="cart-nav-item col-lg-2 col-md-2 col-sm-12">Số lượng </div>
        <div class="cart-nav-item col-lg-3 col-md-3 col-sm-12">Tùy chọn</div>
        <div class="cart-nav-item col-lg-2 col-md-2 col-sm-12">Giá </div>
        <div class="cart-nav-item col-lg-2 col-md-2 col-sm-12">Tổng </div>
    </div>
    <form method="post">
        <% if(cart){ %>
        <% cart.forEach(item => { %>
        <div class="cart-item row">
            <div class="cart-thumb col-lg-3 col-md-3 col-sm-12" style="display: flex;  align-items: center;">
                <img src="<%= item.avatar %> ">
                <h4><%= item.name %></h4>
            </div>

            <div class="cart-quantity col-lg-2 col-md-2 col-sm-12">
                <input type="text" id="quantity" class="form-control form-blue quantity" value="<%= item.qty%>" min="1">
            </div>
            <div class="cart-price col-lg-3 col-md-3 col-sm-12">
                <a href="/cart/update/<%= item._id %>?action=add">+</a>
                <a href="/cart/update/<%= item._id %>?action=remove">-</a>
                <a href="/cart/update/<%= item._id %>?action=clear">Clear</a>
            </div>
            <div class="cart-price col-lg-2 col-md-2 col-sm-12"><b><%= item.sale_price.toLocaleString() %> </b>
            </div>
            <div class="cart-price col-lg-2 col-md-2 col-sm-12"><b><%= (item.sale_price*item.qty).toLocaleString() %>
            </div>
        </div>
        <%}) %>
        <% }else{ %>
        <div class="cart-item row"></div>
        <%} %>

        <div class="row">
            <div class="cart-thumb col-lg-7 col-md-7 col-sm-12">
                <button id="update-cart" class="btn btn-success" type="button" name="sbm"><a href="/clearCart"
                        style="color:gold">Xóa hết giỏ hàng</a></button>
            </div>
            <div class="cart-total col-lg-2 col-md-2 col-sm-12"><b>Tổng cộng:</b></div>
            <div class="cart-price col-lg-3 col-md-3 col-sm-12"><b><%= sum.toLocaleString() %> vnd</b></div>
        </div>

</div>
<!--	End Cart	-->
<!--	Customer Info	-->
<div id="customer">
    <% if(errors != null){ %>
    <% errors.forEach(element => { %>
    <div class="alert alert-danger"><%= element %> </div>
    <%   }); %>
    <%  %>
    <% } %>
    <div class="row">
        <div id="customer-name" class="col-lg-4 col-md-4 col-sm-12">
            <input placeholder="Họ và tên (bắt buộc)" type="text" name="name" class="form-control">
        </div>
        <div id="customer-phone" class="col-lg-4 col-md-4 col-sm-12">
            <input placeholder="Số điện thoại (bắt buộc)" type="text" name="phone" class="form-control">
        </div>
        <div id="customer-mail" class="col-lg-4 col-md-4 col-sm-12">
            <input placeholder="Email (bắt buộc)" type="text" name="email" class="form-control">
        </div>
        <div id="customer-add" class="col-lg-12 col-md-12 col-sm-12">
            <input placeholder="Địa chỉ nhà riêng hoặc cơ quan (bắt buộc)" type="text" name="address"
                class="form-control">
        </div>
    </div>

    <div class="row">
        <div class="cart-thumb col-lg-6 col-md-6 col-sm-12">
            <button name="sbm" id="update-cart" class="btn btn-success">Xác nhận giỏ hàng</button>
        </div>
    </div>
    </form>
</div>

</div>
<% if(!cart) { %>
<%- include('./sidebar') %>
<% }else{ %>

<%} %>
</div>

</div>
<!--	End Body	-->
<%- include("./footer") %>